<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown bg-dark">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=size&direction=desc" class="dropdown-item ">By Size</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown bg-dark">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="wall-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wall decoration
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wall-link">
                <a href="{% url 'products' %}?category=canvas,diptych_canvas" class="dropdown-item">Canvas</a>
                <a href="{% url 'products' %}?category=wood,diptych_wood" class="dropdown-item">Wood</a>
                <a href="{% url 'products' %}?category=aluminium,diptych_aluminium" class="dropdown-item">Aluminium</a>
                <a href="{% url 'products' %}?category=plexiglass,diptych_plexiglass" class="dropdown-item">Plexiglass</a>
                <a href="{% url 'products' %}?category=canvas,diptych_canvas,wood,diptych_wood,aluminium,diptych_aluminium,plexiglass,diptych_plexiglass" class="dropdown-item">All Wall decorations</a>
            </div>
        </li>

        <li class="nav-item dropdown bg-dark">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="objects-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="objects-link">
                <a href="{% url 'products' %}?category=objects,Specials" class="dropdown-item">Objects</a>
                <a href="{% url 'products' %}?category=diptych_canvas,diptych_wood,diptych_plexiglass" class="dropdown-item">Diptych</a>
                <a href="{% url 'products' %}?category=objects,Specials,diptych_canvas,diptych_wood,diptych_plexiglass" class="dropdown-item">All objects</a>
            </div>
        </li>
    </ul>
</div>